<!-- Initialize Shikijs -->
<script src="https://cdn.jsdelivr.net/npm/shiki"></script>
<script>
  let highlighter;
  shiki
    .getHighlighter({
      theme: "nord",
      langs: ["js", "python", "wolfram"],
    })
    .then((highlighter) => {
      document.querySelectorAll('div[type="shiki"]').forEach((block) => {
        const code = block.textContent;
        const language = block.className.replace("language-", "");
        const highlightedCode = highlighter.codeToHtml(code, {
          lang: language,
        });
        block.innerHTML = highlightedCode;
      });
    });
</script>
